@media screen and (max-width: 1100px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
  /* Header section ends here */

  /* Header banner section starts  here */
  .banner-content-container {
    padding-top: 95px;
  }
  .banner-text-container {
    width: 100%;
  }

  /* Header banner section ends here */

  /* About us section starts here */
  .about-us-container {
    justify-content: center;
  }
  .about-us-cards-img {
    min-width: 350px;
    height: 285px;
  }

  .about-us-cards-text {
    width: 90%;
    margin: 20px 0;
  }
  /* About us section ends here */

  /* About us section ends here */
  .food-card-item{
    margin: 20px 0;
  }
  

  
   /* About us section ends here  */

   /* faq section starts here  */
   .faq-items{
    min-width: 100%;
    padding: 0 10px;
   }


   /*faq  section ends here  */
   /*faq  section ends here  */
   .parallax{
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
   }
   /*faq  section ends here  */
   /*footer section ends here  */
   footer{
    flex-direction: column;
    text-align: center;
   }
   footer button{
    margin: 20px 0;
   }
   .footer-icon-container{
margin-top: 20px;
   }
   /*footer  section ends here  */
}
